@font-face {
  font-family: 'Trumpfont';
  src: url(fonts/trumpfont.otf) format('otf')
}

body {
  margin: 0;
  padding: 0;
  background-color: #00b0ff;
}

main {
  font-family: 'Trumpfont', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  line-height: 1.65;
  min-height: 100vh;
}

